.DS_Store
*/eclipse
*/.launch
*/.classpath
*/.project
*/.settings
*.metadata
*/target
*/target-eclipse
*.log
*.class
*.jar
*.war
*.ear
.svn
*/*.zip
*/test/reports
*/web-app/plugins
*/web-app/WEB-INF/classes
/Servers
*.sta
*.iml
*.ipr
*.iws
*.idea
*.orig
